@media screen and (max-width: 576px) {
    /* Header Section */
    .header-section .nav-bar, .nav-links {
        flex-direction: column;
    }

    .header-section .nav-bar{
        padding-bottom: 5.5rem;
    }

    .header-section .nav-item {
        margin: 10px 0;
    }

    .header-section .banner-description {
        width: 100%;
    }

    /* Features Section */

    .features-section .container {
        flex-direction: column;
        gap: 40px;
    }

    .features-section .features-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-section .features-content{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
    
    /* Header Section */
    .header-section .banner-description {
        width: 100%;
    }

    /* Features Section */
    .features-section .container {
        flex-direction: column;
        gap: 40px;
    }

    .features-section .features-content{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
